<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <p>Method - 1 {{ getRandomNumber() }}</p>
            <p>Method - 2 {{ getRandomNumber() }}</p>
            <p>Method - 3 {{ getRandomNumber() }}</p>
            <hr>
            <p>Method - 4 {{ getRandomComputed }}</p>
            <p>Method - 5 {{ getRandomComputed }}</p>
            <p>Method - 6 {{ getRandomComputed }}</p>
            <hr>
            <h3>Full Name: {{ fullName }}</h3>
            <hr>
            <h3>Reversed Full Name: {{ reversedFullName }}</h3>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
</body>
</html>