<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello, Vue</title>
</head>
<body>
    
    <div id="app">
        <h1>{{ message }}</h1>
        <h3>{{ num }}</h3>
        <h3>{{ num * 5 }}</h3>
        <h4>{{ "Hello" + " Vue!" }}</h4>
        <h4>{{ (33/11) * 5 }}</h4>
        <h5> {{ Math.random() }} </h5>
        <h5>{{ message.split("").reverse().join("") }}</h5>
        <img :src="img">
        <a :href="link">VueJS</a>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
</body>
</html>