<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>List of users</h1>
        <div v-for="user in users" :key="user.id">
            <div class="container">
                <p><strong>User: {{user.name}}</strong></p>
                <p><strong>User: {{user.profession}}</strong></p>
            </div>
            <hr>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
</body>
</html>