<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Events and Methods</title>
    <style>
        .box {
            background: green;
            width: 300px;
            height: 300px;
        }
    </style>
</head>
<body>
    <div id="app">
        <h1>{{ lesson }}</h1>
        <br>
        <h3>{{ counter }}</h3>
        <button @click="incrementCounter    ">Counter++</button>
        <br>
        <br>
        <div class="box" @mouseover="overTheBox">

        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
</body>
</html>