<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>Product: {{ product }}</h1>
        <h2 v-if="quantity >= 20">Available</h2>
        <h2 v-else-if="quantity > 0 && quantity < 20">Limited Availability</h2>
        <h2 v-else>Sold out</h2>  
        <br>
        <h3 v-show="sale">On Sale!!</h3>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
</body>
</html>