<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form and User Input</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <p v-if="error" class="text-center mt-2">
            {{ error }}
        </p>
        <div class="row align-middle mt-3">
            <form @submit.prevent="onSubmit">
                <div class="form-group">
                    <label for="comment-text">Publish a comment</label>
                    <textarea v-model="comment" 
                        cols="80" 
                        rows="5"
                        id="comment-text"
                        >
                    
                    </textarea>
                    <button class="btn btn-sm btn-primary" type="submit">Publish</button>
                </div>
            </form>
        </div>
        <div class="row align-middle mt-3">
            <div class="col-10">
                <div class="card" v-for="comment in comments">
                    <div class="card-body">
                        {{ comment }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
</body>
</html>