<template>
  <div id="nav">
    <NavbarComponent />
  </div>
  <router-view/>
</template>

<script>
import { axios } from "@/common/api.service.js";
import NavbarComponent from "@/components/Navbar.vue";
export default {
  name: "App",
  components: {
    NavbarComponent
  },
  methods: {
    async setUserInfo(){
      try {
        const response = await axios.get("/auth/users/me/");
        const requestUser = response.data["username"];
        window.localStorage.setItem("username", requestUser);
      } catch (error) {
        alert(error.response.statusText)
        console.log(error);
      }
    },
  },
  created() {
    this.setUserInfo();
  }
}
</script>

<style>
 body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  }
</style>
